@{
    Layout = "~/Views/Shared/_LayoutFuncionario .cshtml";
}
@model IEnumerable<HeyBus.Models.Funcionario>

<header class="cabecalho d-flex justify-content-between align-items-baseline">
    <h1><span>Funcionário |</span> Consulta</h1>
    <img src="~/images/logoheybus-branco.png" />
</header>
<div class="box-consulta">
    <table class="table table-bordered tbResizable">
        <thead>
            <tr>
                <th style="min-width:10px;max-width:150px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.id_Funcionario)
                </th>
                <th style="min-width:10px;max-width:170px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.cpf_Funcionario)
                </th>
                <th style="min-width:10px;max-width:400px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.nome_Funcionario)
                </th>
                <th style="min-width:10px;max-width:320px;font-weight:400"class="p-2">
                    @Html.DisplayNameFor(model => model.email_Funcionario)
                </th>
                <th style="min-width:10px;max-width:340px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.endereco_Funcionario)
                </th>
                <th style="min-width:10px;max-width:170px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.login_Acesso)
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.id_Funcionario)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.cpf_Funcionario)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.nome_Funcionario)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.email_Funcionario)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.endereco_Funcionario)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.login_Acesso)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
