@model HeyBus.Models.Viagem

@{
    ViewBag.Title = "BuscarViagemCompleta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BuscarViagemCompleta</h2>

<div>
    <h4>Viagem</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.id_Viagem)
        <dt>
            @Html.DisplayNameFor(model => model.data_Ida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_Ida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_Volta)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.data_Volta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario_Viagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario_Viagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_Viagem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valor_Viagem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rot.destino_Rota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rot.destino_Rota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rot.origem_Rota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rot.destino_Rota)
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.rot.destino_Rota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rot.origem_Rota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rot.origem_Rota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.oni.viacao_Onibus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.oni.viacao_Onibus)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Comprar Passagem", "ComprarPassagem", new { id = Model.id_Viagem })
</p>
