@model IEnumerable<HeyBus.Models.Viagem>

@{
    ViewBag.Title = "BuscarViagemCompleta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="viagem-completa">
    <h1>Consulte as passagens de ônibus referentes a sua consulta.</h1>
    <hr class="m-auto" style="background-color:rgb(255, 106, 0); opacity:.4;width:95%" />
    @foreach (var item in Model)
    {
        <div class="box-viagem-completa">
            <div class="ori-dest">
                De @Html.DisplayFor(modelItem => item.rot.origem_Rota) para @Html.DisplayFor(modelItem => item.rot.destino_Rota) <br />
                <span>Ida @Html.DisplayFor(modelItem => item.data_Ida) e @Html.DisplayFor(modelItem => item.data_Volta)</span>
            </div>
            <div class="viacao">@Html.DisplayFor(modelItem => item.oni.viacao_Onibus)<br /><span>@Html.DisplayFor(modelItem => item.oni.categoria_Onibus)</span></div>
            <div class="valor-viag">Valor <br /><span>R$ @Html.DisplayFor(modelItem => item.valor_Viagem)</span>@Html.ActionLink("Comprar", "Passagens/Comprar", new { id = item.id_Viagem }, new { @class = "button-comprar btn-laranja" })</div>
        </div>
    }
</section>