@{
    Layout = "~/Views/Shared/_LayoutFuncionario .cshtml";
}
@model IEnumerable<HeyBus.Models.Onibus>

<header class="cabecalho d-flex justify-content-between align-items-baseline">
    <h1><span>Ônibus |</span> Consulta</h1>
    <img src="~/images/logoheybus-branco.png" />
</header>
<<<<<<< HEAD
<b>Procurar por : </b>
<select id="Filtros">
    <option value="ID">ID</option>
    <option value="Viacao">Viação</option>
    <option value="Categoria">Categoria</option>
    <option value="Manutencao">Manutenção</option>
</select><br /><br />
@Html.TextBox("Filtrar")<input type="submit" id="BtnFiltrar" value="Filtrar" /><br /><br />
=======

>>>>>>> 3effb5bd42b9c0440ad72aa97b5d78a74edfc785
<div class="box-consulta">
    <table class="table table-bordered tbResizable">
        <thead>
            <tr>
                <th style="min-width:10px;max-width:150px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.id_Onibus)
                </th>
                <th style="min-width:10px;max-width:250px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.viacao_Onibus)
                </th>
                <th style="min-width:10px;max-width:250px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.categoria_Onibus)
                </th>
                <th style="min-width:10px;max-width:150px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.assentos_Onibus)
                </th>
                <th style="min-width:10px;max-width:150px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.manutencao_Onibus)
                </th>
                <th class="text-center p-2" style="min-width:200px;max-width:200px; font-weight:400">Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.id_Onibus)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.viacao_Onibus)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.categoria_Onibus)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.assentos_Onibus)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.manutencao_Onibus)
                    </td>
<<<<<<< HEAD
                    <td>
                        @Html.ActionLink("Atualizar", "Atualizar", new { id = item.id_Onibus })
=======
                    <td style="font-weight:300" class="p-2">
                        @Html.ActionLink("Edit", "Edit", new { id = item.id_Onibus }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id_Onibus }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id_Onibus })
>>>>>>> 3effb5bd42b9c0440ad72aa97b5d78a74edfc785
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<<<<<<< HEAD
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function (){
        $("#BtnFiltrar").click(function () {
            var Filtros = $("#Filtros").val();
            var Filtrar = $("#Filtrar").val();
            var RecebeData = $("#ProcurarDados");
            RecebeData.html("");
            $.ajax({
                type: "post",
                url: "/Onibus/GetFiltrarDados?Filtros=" + Filtros + "&ValorFiltro=" + Filtrar,
                contentType: "html",
                success: function (resultado) {
                    if (resultado.length == 0) {
                        RecebeData.append('<tr style="color: red"><td colspan="3">Nenhum dado encontrado</td></tr>')
                    }
                    else {
                        $.each(resultado, function (index, value) {
                            var Dados = "<tr>" +
                                "<td>" + value.id_Onibus + "</td>" +
                                "<td>" + value.viacao_Onibus + "</td>" +
                                "<td>" + value.categoria_Onibus + "</td>" +
                                "<td>" + value.id_Bancos + "</td>" +
                                "<td>" + value.manutencao_Onibus + "</td>" +
                                "</tr>";
                            RecebeData.append(Dados);
                        });
                    }
                }
            });
        });
    });
</script>
=======

>>>>>>> 3effb5bd42b9c0440ad72aa97b5d78a74edfc785
