@{
    Layout = "~/Views/Shared/_LayoutFuncionario .cshtml";
}
@model IEnumerable<HeyBus.Models.Onibus>

<header class="cabecalho d-flex justify-content-between align-items-baseline">
    <h1><span>Ônibus |</span> Consulta</h1>
    <img src="~/images/logoheybus-branco.png" />
</header>

<div class="box-consulta">
    <table class="table table-bordered tbResizable">
        <thead>
            <tr>
                <th style="min-width:10px;max-width:150px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.id_Onibus)
                </th>
                <th style="min-width:10px;max-width:250px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.viacao_Onibus)
                </th>
                <th style="min-width:10px;max-width:250px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.categoria_Onibus)
                </th>
                <th style="min-width:10px;max-width:150px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.assentos_Onibus)
                </th>
                <th style="min-width:10px;max-width:150px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.manutencao_Onibus)
                </th>
                <th class="text-center p-2" style="min-width:200px;max-width:200px; font-weight:400">Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.id_Onibus)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.viacao_Onibus)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.categoria_Onibus)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.assentos_Onibus)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.manutencao_Onibus)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.ActionLink("Edit", "Edit", new { id = item.id_Onibus }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id_Onibus }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id_Onibus })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

