@{
    Layout = "~/Views/Shared/_LayoutFuncionario .cshtml";
}
@model IEnumerable<HeyBus.Models.Rota>
<header class="cabecalho d-flex justify-content-between align-items-baseline">
    <h1><span>Rota |</span> Consulta</h1>
    <img src="~/images/logoheybus-branco.png" />
</header>
<b>Procurar por : </b>
<select id="Filtros">
    <option value="ID">ID</option>
    <option value="Destino">Destino</option>
    <option value="Origem">Origem</option>
</select><br /><br />
@Html.TextBox("Filtrar")<input type="submit" id="BtnFiltrar" value="Filtrar" /><br /><br />
<div class="box-consulta">
    <table class="table table-bordered tbResizable">
        <thead>
            <tr>
                <th style="min-width:10px;max-width:150px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.id_Rota)
                </th>
                <th style="min-width:10px;max-width:250px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.origem_Rota)
                </th>
                <th style="min-width:10px;max-width:250px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.destino_Rota)
                </th>
                <th style="min-width:10px;max-width:170px; font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.distancia_Rota)
                </th>
                <th class="text-center p-2" style="min-width:200px;max-width:200px; font-weight:400">Ação</th>
            </tr>
        </thead>
        <tbody id="ProcurarDados">
            @foreach (var item in Model)
            {
                <tr>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.id_Rota)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.origem_Rota)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.destino_Rota)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.distancia_Rota)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.ActionLink("Alterar", "Alterar", new { id = item.id_Rota }) 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#BtnFiltrar").click(function () {
            var Filtros = $("#Filtros").val();
            var Filtrar = $("#Filtrar").val();
            var RecebeData = $("#ProcurarDados");
            RecebeData.html("");
            $.ajax({
                type: "post",
                url: "/Clientes/GetFiltrarDados?Filtros=" + Filtros + "&ValorFiltro=" + Filtrar,
                contentType: "html",
                success: function (resultado) {
                    if (resultado.length == 0) {
                        RecebeData.append('<tr style="color: red"><td colspan="3">Nenhum dado encontrado</td></tr>')
                    }
                    else {
                        $.each(resultado, function (index, value) {
                            var Dados = "<tr>" +
                                "<td>" + value.id_Rota + "</td>" +
                                "<td>" + value.destino_Rota + "</td>" +
                                "<td>" + value.origem_Rota + "</td>" +
                                "<td>" + value.distancia_Rota + "</td>" +
                                "</tr>";
                            RecebeData.append(Dados);
                        });
                    }
                }
            });
        });
    });
</script>