@{
    Layout = "~/Views/Shared/_LayoutFuncionario .cshtml";
}
@model IEnumerable<HeyBus.Models.Cliente>

<header class="cabecalho d-flex justify-content-between align-items-baseline">
    <h1><span>Cliente |</span> Consulta</h1>
    <img src="~/images/logoheybus-branco.png" />
</header>
<div class="box-consulta">
    <table class="table table-bordered tbResizable">
        <thead>
            <tr>
                <th style="min-width:10px;max-width:100px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.id_Cliente)
                </th>
                <th  style="min-width:10px;max-width:170px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.cpf_Cliente)
                </th>
                <th style="min-width:10px;max-width:400px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.nome_Cliente)
                </th>
                <th style="min-width:10px;max-width:150px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.nascimento_Cliente)
                </th>
                <th style="min-width:10px;max-width:150px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.tel_Cliente)
                </th>
                <th style="min-width:10px;max-width:150px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.cel_Cliente)
                </th>
                <th style="min-width:10px;max-width:320px;font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.email_Cliente)
                </th>
                <th style="font-weight:400" class="p-2">
                    @Html.DisplayNameFor(model => model.usuario_Cliente)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.id_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.cpf_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.nome_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.nascimento_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.tel_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.cel_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.email_Cliente)
                    </td>
                    <td style="font-weight:300" class="p-2">
                        @Html.DisplayFor(modelItem => item.usuario_Cliente)
                    </td>

                </tr>

            }
        </tbody>
    </table>
    
</div>
