@model HeyBus.Models.Acesso
@{
    ViewBag.Title = "LoginCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>LoginCliente</h2>
@using (Html.BeginForm())
{
    <div class="login-cliente" style="margin-top:150px!important;">
        @Html.AntiForgeryToken()
        { 
        <div class="d-flex align-items-end justify-content-between">
            <h1>Fazer login </h1>
            <img src="~/images/logoheybus-branco.png" style="width:150px" />
        </div>
        <hr />
        <form>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.login_Acesso, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.login_Acesso, new { htmlAttributes = new { @class = "design-input-login" } })
                    @Html.ValidationMessageFor(model => model.login_Acesso, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.password_Acesso, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.password_Acesso, new { htmlAttributes = new { @class = "design-input-login" } })
                    @Html.ValidationMessageFor(model => model.password_Acesso, "", new { @class = "text-danger" })
                </div>
            </div>
        </form>
        <div class="form-group">
            <div class="text-center mt-4">
                <input type="submit" value="Entrar" style="padding:5px 100px" class="btn-laranja" />
            </div>
        </div>
        <hr />
        <p>Não possui login? <a href="~/Clientes/Cadastrar">Cadastre-se</a></p>
        }
    </div>
}
